<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>taobao</string>
		<string>tmall</string>
		<string>openApp.jdMobile</string>
		<string>pinduoduo</string>
		<string>snssdk1128</string>
		<string>imeituan</string>
		<string>CtripWireless</string>
		<string>open.caocaokej</string>
	</array>
</dict>
</plist>
